---
import Logo from '#/components/Logo.vue'
import QueryWorksheet from '#/components/QueryWorksheet.vue'
import { fetchEnabledDbs } from '#/lib/enabled-dbs'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<div class="page">
		<aside>
			<Logo />
			<span style="color: #4f4f4f">
				<a href="/auth/login">Log in</a> to save worksheets
			</span>
		</aside>
		<QueryWorksheet enabledDbs={fetchEnabledDbs(Astro)} apiHost={Astro.locals.runtime.env.PUBLIC_API_HOST} client:load />
	</div>
</Layout>

<style>

.page {
	display: flex;
	padding: 10px;
	width: 100%;
	gap: 10px;
}

aside {
	padding: 0px 6px;
	display: flex;
	flex-direction: column;
}

</style>